hhhhhhhhhoooooooooommmmmmmmeeeeeeeee

<div *ngIf="info.token; else loggedOut">
    <h5 class="text-primary">Your Information</h5>
    <p>
      <strong>Username:</strong> {{info.username}}<br/>
      <strong>Roles:</strong> {{info.authorities}}<br />
      <strong>Token:</strong> {{info.token}}.
    </p>
    <button class="btn btn-secondary" (click)="logout()">Logout</button>
  </div>


<div *ngIf="authority==='end_user'">
  <app-krajnji-korisnik [korisnik]='korisnik | async'></app-krajnji-korisnik>
</div>


<div *ngIf="authority==='admin'">
  <app-admin ></app-admin>
  stavi admin stuff
</div>


  <ng-template #loggedOut>
    Please login.
  </ng-template>
  
  