<p>gearbox-list works!</p>

<div *ngIf="!isUpdate; else update">

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>

            </tr>
        </thead>

        <tbody *ngFor="let gearboxType of gearboxTypes | async ; let i = index;">

            <tr class="info">
                <th scope="row">{{i+1}}</th>
                <th scope="row">{{gearboxType.idGearboxType}}</th>
                <th scope="row">{{gearboxType.name}}</th>
                <th scope="row">

                    <button class="btn btn-success"
                        (click)="onGearboxTypeUpdate(gearboxType)">edit</button> </th>

            </tr>
        </tbody>
    </table>
</div>

<ng-template #update>
    
    <!-- <app-gearbox [korisnik]='korisnik'> </app-gearbox> -->
    <app-gearbox [gearBoxType]='gearBoxType'> </app-gearbox>

</ng-template>