<p>gearbox-list works!</p>

<div *ngIf="!isUpdate && !isAdd">
    <!-- <div *ngIf="!isUpdate; else update"> -->

    <button class="btn btn-success" (click)="onGearboxTypeAdd()">Add new</button>


    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col " colspan="2">Actions</th>
                

            </tr>
        </thead>

        <tbody *ngFor="let gearboxType of gearboxTypes | async ; let i = index;">

            <tr class="info">
                <th scope="row">{{i+1}}</th>
                <th scope="row">{{gearboxType.idGearboxType}}</th>
                <th scope="row">{{gearboxType.name}}</th>
                <th scope="row">

                    <button class="btn btn-info" (click)="onGearboxTypeUpdate(gearboxType)">edit</button>
                </th>
                <th scope="row">

                    <button class="btn btn-info" (click)="onGearboxTypeDelete(gearboxType)">Delete</button>
                </th>

            </tr>
        </tbody>
    </table>


</div>

<div *ngIf="isUpdate">

    <app-gearbox [gearBoxType]='gearBoxType'> </app-gearbox>

</div>

<div *ngIf="isAdd">

    <app-gearbox-add> </app-gearbox-add>

</div>