<p>fuel-type-add works!</p>




<div class="row col-sm-6" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <div class="form-group">
            <label for="fuelTypeName">Name:</label>
            <input type="text" class="form-control" name="fuelTypeName" [(ngModel)]="form.fuelTypeName"
                #fuelTypeName="ngModel" required minlength="3" />
            <div *ngIf="f.submitted && fuelTypeName.invalid">
                <div *ngIf="fuelTypeName.errors.required">Gearbox name is required</div>
                
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Update</button>
            <div *ngIf="f.submitted && fuelTypeName.invalid" class="alert alert-warning">
                Submit failed!<br />{{errorMessage}}
            </div>
        </div>

    </form>


</div>