<div class="row">
    <div class="row col-sm-6" style="max-width:500px;">
        <div>
            <hr>
            <a routerLink = "/carCreate"><button class="btn btn-success">Create car</button></a> 
            <hr>
            <h2>My cars:</h2>
            <hr>
            <br>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Registration plate</th>
                    <th scope="col">Car brand: </th>
                    <th scope="col">Car model: </th>
                    <!-- <th scope="col">Gearbox type: </th>
                    <th scope="col">Fuel type: </th>
                    <th scope="col">Car class: </th>
                    <th scope="col">Km: </th>
                    <th scope="col">AllowedKM: </th>
                    <th scope="col">CDW available: </th>
                    <th scope="col">Children seats: </th>
                    <th scope="col">Country: </th>
                    <th scope="col">City: </th>
                    <th scope="col">Street: </th>
                    <th scope="col">Street number: </th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let c of cars; index as i">
                    <th scope="row"> {{ i + 1}}</th>
                    <td>{{c.registrationPlate}}</td>
                    <td>{{ c.carBrand }}</td>
                    <td>{{ c.carModel}}</td>
                    <!-- <td>{{ c.gearboxType }}</td>
                    <td>{{ c.fuelType }}</td>
                    <td>{{ c.carClass }}</td>
                    <td>{{ c.km }}</td>
                    <td>{{ c.allowedKM }}</td>
                    <td>{{ c.cdw }}</td>
                    <td>{{ c.childrenSeats }}</td>
                    <td>{{ c.country }}</td>
                    <td>{{ c.city }}</td>
                    <td>{{ c.street }}</td>
                    <td>{{ c.streetNumber }}</td> -->
                    <td><button class="btn btn-success">Add to Cart</button></td>
                    <td><button class="btn btn-success" (click)="onDetails(c)">Details</button></td>
                    <td><button class="btn btn-success" (click)="onEdit(c)">Edit</button></td>
                    <td><button class="btn btn-danger" (click)="onDelete(c)">Delete</button></td>
                  </tr>
                </tbody>
              </table>
          <button class="btn btn-info" (click)="onBack()">Back</button>
            
        </div>
    </div>
    <div class="row col-sm-6" style="max-width:500px;">
        <!-- <app-car-details></app-car-details> -->
    </div>
</div>
