hhhhhhhhhoooooooooommmmmmmmeeeeeeeee

<div *ngIf="info.token; else loggedOut">
    <h5 class="text-primary">Your Information</h5>
    <p>
      <strong>Username:</strong> {{info.username}}<br/>
      <strong>Roles:</strong> {{info.authorities}}<br />
      <strong>Token:</strong> {{info.token}}.
    </p>
    <button class="btn btn-secondary" (click)="logout()">Logout</button>
  </div>
        <!-- <li *ngIf="korisnik" class="nav-item">
          <a class="nav-link" routerLink="carList">Klinike</a>
        </li> -->

<div *ngIf="authority==='korisnik'">
  <app-krajnji-korisnik [korisnik]='korisnik | async'></app-krajnji-korisnik>
</div>


<div *ngIf="authority==='ad'">
  <app-krajnji-korisnik [korisnik]='korisnik | async'></app-krajnji-korisnik>
</div>


  <ng-template #loggedOut>
    Please login.
  </ng-template>
  
  