<div class="container">
    <div class="row col-sm-8" style="max-width:900px;">
      <button class="btn btn-success" (click)="createAd()">Add new ad</button>
      <hr>
      <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Available from: </th>
                <th scope="col">Available to: </th>
                <th scope="col">Car: </th>
                <th scope="col">Price per day: </th>
            </tr>
        </thead>
  
        <tbody *ngFor="let a of ads | async ; let i = index;">
  
            <tr>
                <th scope="row">{{i+1}}</th>
                <th scope="row">{{a.startDate | date:"dd/MM/yyy HH:mm"}}</th>
                <th scope="row">{{a.endDate | date:"dd/MM/yyy HH:mm"}}</th>

                <ng-container *ngFor="let c of cars">
                    <th *ngIf="c.idCar == a.car" scope="row" rowspan="2">{{c.carBrand}} {{c.carModel}}</th>
                </ng-container>
                <ng-container *ngFor="let p of pricelists">
                    <th *ngIf="p.pricelistId == a.pricelist" scope="row" rowspan="2"> {{ p.priceForOneDay}}</th>
                </ng-container>

                <th scope="row"> <a routerLink="/ad-details/{{a.idAd}}"> Reserve </a></th>
               
            </tr>
        </tbody>
    </table>
  
    <button class="btn btn-info" (click)="onBack()">Back</button>
            
    <div *ngFor="let p of pricelists">
        <label for="temp"> pricelist: {{ p.pricelistId }}</label>    
    </div>
    </div>
  </div>