<div class="container">
    <div class="row col-sm-8" style="max-width:900px;">
        <h4>Dashboard for creating new ads, pricelists and discounts!</h4>

        <div *ngIf="!isAdd">
            <button class="btn btn-success" routerLink="/ad-create">Add new ad</button>
        </div>
        <div *ngIf="isAdd">
            <app-ad-create></app-ad-create>
        <hr>
        </div>
        <hr>
        <h4>Pricelists:</h4>
        <hr>
        <app-pricelist-list></app-pricelist-list>
    
        <hr>

        <h4>Discounts:</h4>
        <hr>
        <app-discount-list></app-discount-list>

        <hr>
        <h4><b> My ads: </b></h4>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Available from: </th>
                    <th scope="col">Available to: </th>
                    <th scope="col">Car: </th>
                    <th scope="col">Car location: </th>
                    <th scope="col">Price per day: </th>
                </tr>
            </thead>

            <tbody *ngFor="let a of ads; let i = index;">

                <tr>
                    <th scope="row">{{i+1}}</th>
                    <th scope="row">{{a.startDate | date:"dd/MM/yyy HH:mm"}}</th>
                    <th scope="row">{{a.endDate | date:"dd/MM/yyy HH:mm"}}</th>
                    <th scope="row"> PLACEHOLDER, TREBA AUTO </th>
                    <th scope="row"> PLACEHOLDER, TREBA LOKACIJA AUTOMOBILA</th>              
                <!--
                    <ng-container *ngFor="let c of cars">
                        <th *ngIf="c.idCar == a.car" scope="row" rowspan="3">{{c.carBrand}} {{c.carModel}}</th>
                        <th *ngIf="c.idCar == a.car" scope="row" rowspan="3">{{c.city}} {{c.country}}</th>
                    </ng-container>
                -->   
                    <ng-container *ngFor="let p of pricelists">
                        <th *ngIf="p.pricelistId == a.pricelist" scope="row" rowspan="2"> {{ p.priceForOneDay}}</th>
                    </ng-container>
                    <td scope="row"> <button class="btn btn-info" (click)="onReserve()">Reserve</button></td>
                    <td scope="row"> <button class="btn btn-secondary" routerLink="/ad-edit/{{a.idAd}}">Update</button></td>
                    <td scope="row"> <button class="btn btn-danger" (click)="onDelete(a.idAd)">Delete</button></td>

                </tr>
            </tbody>

        </table>
        <hr>
        <button class="btn btn-danger" (click)="onBack()">Back</button>
        <br><br>
    </div>
  </div>