<div class="container">
    <div class="row col-sm-6" style="max-width:700px;">
        <div *ngIf="!isAdd">   
            <button class="btn btn-success" (click)="onPricelistAdd()">Add new pricelist</button>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                       <th scope="col">Price per day: </th>
                       <th scope="col">Price for extra km: </th>
                       <th scope="col">Min days for discount: </th>
                       <th scope="col">Discount: </th>
                    </tr>
                </thead>
        
                <tbody *ngFor="let p of pricelists | async">
                    <tr *ngIf="p.user == userId">
                       <td scope="row">{{p.priceForOneDay}} €</td>
                       <td scope="row">{{p.priceForKM}} €</td>
                       <td scope="row">{{p.numberOfDays}} </td>
                       <td scope="row">{{p.discount}} %</td>
                       <td scope="row"> <button class="btn btn-secondary">Update</button></td>
                       <td scope="row"> <button class="btn btn-danger" (click)="onDelete(p.pricelistId)">Delete</button></td>
                    </tr>
                </tbody>
            </table> 
        </div>
        <div *ngIf="isAdd">
            <app-pricelist-create> </app-pricelist-create>
        
        </div>
 </div>
</div>