<div class="container">
    <div class="row col-sm-6" style="max-width:500px;">
        <div>
            <h1>My cart:</h1>

            <table class="table table-bordered">

                <thead>
                    <tr>
                     <th scope="col">#</th>
                     <!-- <th scope="col">Car brand: </th> -->
                     <th scope="col">Car model: </th>
                     <th scope="col">Start date: </th>
                     <th scope="col">Return date: </th>
                     <th scope="col">Price per day: </th>
                     <th scope="col">Discount: </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor= "let ad of adItemsSource; index as i">
                      <th scope="row">{{ i + 1}}</th>
                      <td>{{ad.carBrand}}</td>
                      <td>{{ad.startDate}}</td>
                      <td>{{ad.endDate}}</td>
                      <td>{{ad.priceForOneDay}}</td>
                      <td>{{ad.discount}}</td>
                       
                      <button class="btn btn-success">Send request</button>
                      <button class="btn btn-danger">Delete</button>  
            
                    </tr>
                </tbody>

            </table>

            <div>
                <button class="btn btn-info" (click)="onBack()">Back</button>
            </div>

         </div>
                  
    </div>
</div>
