<div class = "container-fluid">
    <h1>My reservations: </h1> 
        <table class="table table-bordered table-hover table-dark">

            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Car model: </th>
                    <th scope="col">Start date: </th>
                    <th scope="col">Return date: </th>
                    <th scope="col">Price per day: </th>
                    <th scope="col">Discount: </th>
                    <th scope="col">Status: </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor= "let reserve of reservations; let i = index">
                    <th scope="row">{{ i + 1}}</th>
                    <td>{{reserve.carBrand}} {{reserve.carModel}}</td>
                    <td>{{reserve.startDate}}</td>
                    <td>{{reserve.endDate}}</td>
                    <td>{{reserve.priceDay}}</td>
                    <td>{{reserve.discount}}</td>
                    <td>{{reserve.statusUserRequest}}</td>
                </tr>
            </tbody>
        </table>
                    
</div>
