<div class="container">
<div class="row col-sm-6" style="max-width:450px;"> 
    <h3> Create new ad:</h3>
    <hr>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="startDate">Car is available from: </label>
            <input type="datetime-local" class="form-control" name="startDate" [(ngModel)]="form.startDate"
                #startDate="ngModel" required>
        </div>
        <div class="form-group">
            <label for="endDate">Car is available until: </label>
            <input type="datetime-local" class="form-control" name="endDate" [(ngModel)]="form.endDate"
                #endDate="ngModel" required>
        </div>

        <div class="form-group">
            <label for="car">Car: </label>
            <select class="form-control"  id="car" required [(ngModel)]="form.car" name="car">
                <ng-container *ngFor="let c of cars">
                    <option *ngIf="!c.advertised" [value]="c.idCar">{{c.registrationPlate}} {{ c.carBrand }} {{c.carModel}}</option>
                </ng-container>
             </select>
        </div>

        <div class="form-group">
            <label for="pricelist">Pricelist: </label>
            <select class="form-control"  id="pricelist" required [(ngModel)]="form.pricelist" name="pricelist">
                <ng-container *ngFor="let p of pricelists">
                    <option *ngIf="p.user == userId" [value]="p.pricelistId">Price per day {{ p.pricelistId }}, extra km: {{p.priceForKM}}, 
                        days for discount: {{ p.numberOfDays }}, discount {{ p.discount }} %</option>
                </ng-container>
             </select>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Create ad</button>
        </div>
        <div *ngIf="f.submitted && !f.valid" class="alert alert-warning">
            Submit failed!<br />{{errorMessage}}
        </div>
    </form>
    <button class="btn btn-danger" routerLink="/ads-dashboard" novalidate>Cancel</button>
</div>
</div>
