<div class="container">
  <div class="row col-sm-6" style="max-width:500px;">
    <div *ngIf="!isAdd">   
        <button class="btn btn-success" (click)="onDiscountAdd()">Add new discount</button>
        <hr>
        <table class="table table-bordered">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Number of days</th>
                  <th scope="col">Discount (%)</th>
              </tr>
          </thead>

          <tbody *ngFor="let d of discounts | async ; let i = index;">
              <tr *ngIf="d.user == userId">
                  <th scope="row">{{i+1}}</th>
                  <td scope="row">{{d.moreThanXDays}}</td>
                  <td scope="row">{{d.discount}}</td>
              </tr>
          </tbody>
        </table>  
    </div>
    <div *ngIf="isAdd">
      <app-discount-create> </app-discount-create>
    </div>
  </div>
</div>