<div class="container">
  <div class="row col-sm-6" style="max-width:500px;">
    <div *ngIf="!isAdd">   
    <button class="btn btn-success" (click)="onDiscountAdd()">Add new</button>
    <hr>
    <table class="table table-bordered">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Number of days</th>
              <th scope="col">Discount (%)</th>

          </tr>
      </thead>

      <tbody *ngFor="let d of discounts | async ; let i = index;">

          <tr>
              <th scope="row">{{i+1}}</th>
              <th scope="row">{{d.moreThanXDays}}</th>
              <th scope="row">{{d.discount}}</th>
              <th><button class="btn btn-info" (click)="pickDiscount(d.idDiscount)">choose</button> </th>
          </tr>
      </tbody>
  </table>      

    <button class="btn btn-info" (click)="onBack()">Back</button>
          

    
      </div>
      <div *ngIf="isAdd">
        <app-discount-create> </app-discount-create>
    
      </div>
  </div>
</div>